/* Create a new class for centering auth */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-wrapper{
    width: 420px;
    position: relative;
    padding: 40px 30px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
}



.auth-wrapper h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.auth-wrapper .error-message {
    background-color: rgba(255, 0, 0, 0.1);
    width: 100%;
    height: 40px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    overflow:scroll;

}

.auth-wrapper .error-message p{
    color: white;
    font-size: 12px;
    text-wrap: wrap;
}


.auth-wrapper .input-box {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

.auth-wrapper .input-box input{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    /* background-color: pink; */
    border:2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 35px;
}

.auth-wrapper .input-box input::placeholder {
    color: white;
}

.auth-wrapper .input-box .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.auth-wrapper .remember{
    position: relative;
    color: white;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    left: 10px;

}

.auth-wrapper .remember input{
    margin-right: 10px;
}
.auth-wrapper .sign-Buttons{
    display: flex;
    justify-content: center;
}

.auth-wrapper .sign-Button button{
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.auth-wrapper .signUp-link{
    font-size: 13px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.auth-wrapper .signUp-link p a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.auth-wrapper .signUp-link p a:hover{
    text-decoration: underline;
}