
.todos-container{
    display: flex;
    justify-content: center;
    margin: 40px 30px;
}

.todos-wrapper{
    flex: 1;
    max-width: 1000px;
    flex-direction: column;
    padding: 40px 30px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    min-width: 420px;
}

.todos-wrapper .input-container {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255,255,255,.2);
    padding: 40px 30px;
    border-radius: 10px;
    gap: 10px;
}

.todos-wrapper .input-container .todo-input{
    flex: 2;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    background: transparent;
    color: white;
}

.todos-wrapper .input-container .todo-input::placeholder{
    color: white;
}

.todos-wrapper .input-container .date-input{
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    background: transparent;
    color: white;
    cursor: pointer;
}
.todos-wrapper .input-container .todo-input:hover{
    box-shadow: 0 0 20px rgba(255,255,255,.1);
}

.todos-wrapper .input-container .date-input:hover{
    box-shadow: 0 0 20px rgba(255,255,255,.1);
}

.todos-wrapper .input-container .add-todo-button{
    flex: 1;
    max-width: 100px;
    padding: 0 10px;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
}

.todos-wrapper .input-container .add-todo-button:hover{
    background-color: rgba(0, 255, 0, 0.2);
    box-shadow: 0 0 20px rgba(255,255,255,.1);

}

.todos-wrapper .ongoing-todos-container , .completed-todos-container {
    position: relative;
    border: 2px solid rgba(255,255,255,.2);
    padding: 40px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.todos-wrapper h3 {
    color: white;
    position: relative;
    text-align: center;
    top: -20px;
}

/* responsive */
@media screen and (max-width: 1000px) {
    .date-input{
        width: 30px;
        padding: 0 5px;
    }

    p{
        font-size: 10px;
    }

    .todos-wrapper .input-container .todo-input{
        height: 30px;
    }
}