@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root{
    --background-color: rgb(255, 255, 255) ;
    --font-color: rgb(19, 19, 19) ;
    --high-priority-color: #ff6467;
    --medium-priority-color: #ff8904;
    --low-priority-color: #05df72;
}

[data-theme = 'dark'] {
    --background-color:rgb(27, 27, 27);
    --font-color: rgb(255, 255, 255) ;
}

* {
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Poppins',sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;     
  background-image: none; 
  padding-right: 1.4rem;
  overflow: hidden; 
}


